html {
	font-family: 'Comfortaa', sans-serif;
}
body {
	background: url('./films/bg.jpeg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
h1 {
	text-align: center;
	color: white;
	margin-top: 30px;
	font-size: 56px;
}
.films-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
}
.film-window {
	margin-right: 20px;
	display: flex;
	width: 500px;
	height: 200px;
	border-radius: 15px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border: 2px solid rgba(0, 0, 0, 0.2);
	transition: all 0.2s linear;
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.film-window:hover {
	transform: scale(1.05);
}
.film-image-container {
	width: 70%;
	height: 100%;
	overflow: hidden;
}
.film-image-container img {
	width: 100%;
	height: 100%;
}
.film-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.film-info {
	color: aliceblue;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.film-info h2 {
	margin-bottom: 5px;
	text-transform: uppercase;
}
.film-info p {
	width: 70%;
	text-align: justify;
	font-size: 12px;
}
.link-back {
	margin-top: 20px;
	margin-left: 20px;
	color: white;
	border: 2px solid white;
	border-radius: 15px;
	width: 4%;
	text-align: center;
}
